body{
    margin:0;
    padding:0;
    background-color: #e1eff5;
    color:black;

}

#mainIntro
{
    background-image:url("../img/outdoor4.jpg");
    color:white;
    margin: 0;
    padding: 100px;
    text-align: center;
    width:80%;
    background-size:cover;
}

#mainIntro h1
{
    padding: 50px;
}

#mainIntro p
{
    padding: 20px;
    font-size: 1.25em;
}

.companyName
{
    padding-bottom: 150px;
    font-size: 5em;
}

#navigation
{
    display:block;
    background-color:#1d3b53;
    color: white;
    width: 20%;
    min-height: 1000px;
}

#loginOptions
{
    height: 30px;
    text-align: right;
    padding: 10px;
}

#navbar
{

    font-size: 1.75em;
    list-style: none;
    margin:0;
    justify-content: space-around;
    padding: 30px;


}

#navbar li
{
    padding: 0 0 20px 0;
}
#navbar li a:hover
{
    color:#fead03;

}

#navbar li a
{
    text-decoration:none;
    color:#FB7B00;

}


.mainContent
{
    background-color: #06123c;
    color: white;
    text-align: center;
    padding: 40px;
    max-height: 750px;

}

.mainContent h1{
    padding: 0 0 30px 0;
}

.mainContent p
{
    padding: 20px 0 20px 0;
}

#serviceimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 50%;
    height: 300px;
    margin-bottom: 40px;
}

.box-border{
    border: 1px solid #B9BAA3;
}

.productResultImg{
    max-height: 300px !important;
}

#clientMain{
    background-color: #06123c;
    color: white;
    padding: 40px;
}

#form_11683{
    width: 60%;
    padding: 1.2em;

}

#form_11683 ul{
    list-style: none;
}

#form_11683 ul li{
    margin:1em;
}
#form_11683 h2, p{
    margin:1em;
}

#errorList{

    max-height: 500px;
    margin-top: 200px;
    padding: 2em;
}

#serviceInfoImage
{
    margin: auto;
    display: block;
    border-radius: 50%;
    width: 225px;
    height: 225px;
}

.pageWrapper
{
    display:flex;
}

#cart
{
    width: 80%;
    text-align: center;
}

#cart input
{
    margin: 20px;
}

.cartTable
{
    width: 80%;
    margin: auto;
}

#loginDiv
{
    background-image:url("../img/outdoor2.jpg");
    background-size: cover;
    width: 80%;

}

#loginForm
{
    background-color: #e1eff5;
    padding: 20px;
    width: 45%;
    height: 500px;
    margin: 50px;
    opacity: 85%;
}

#greeting
{
    text-align: center;
    padding: 40px;
}

#greeting h1
{
    padding: 40px;
}